/* Reset some default styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Mobile styles */
.App {
  font-family: "Arial", sans-serif;
  background-color: #1f1f1f; /* Dark Background */
  color: #f0f0f0; /* Light Text */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  color: #d9a35e; /* Light Rich Brown */
}

.slogan {
  font-style: italic;
  color: #ccc; /* Light Gray */
}

/* Menu styles */
.menu {
  width: 2000px;
  max-width: 80vw;
  margin: 0 auto;
  background-color: #5b411e; /* Dark Gray Background */
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.item-list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #0e0e0e;
  background-color: #3d3d3d95;
  overflow: hidden; /* Ensure background image doesn't overflow */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  /* z-index: -1; */
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Set position to use for pseudo-element */
  z-index: 1; /* Ensure content is above the background */
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.item-description {
  margin: 10px 0;
  color: #ccc;
  text-align: center;
}

/* Add styles for the background image */
/* .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.2; 
} */

.item-name {
  margin-top: 0;
  font-size: 18px;
  color: #f0f0f0; /* Light Text */
}

.item-details {
  font-size: 14px;
  color: #ccc;
}

.item-image {
  width: 100px;
}

.add-button {
  background-color: #d9a35e; /* Light Rich Brown */
  color: #1f1f1f; /* Dark Text */
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-button:hover {
  background-color: #c99450; /* Slightly darker Light Rich Brown */
}

/* Media queries for larger screens */
@media screen and (min-width: 768px) {
  .item-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .item-content {
    /* align-items: flex-start; */
    z-index: 1;
  }

  .item-header {
    /* ... (previous styles) */
    flex-direction: column; /* Adjust for better alignment */
  }
}
.item {
  display: block; /* Reset display for larger screens */
  margin: 0;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #0e0e0e;
  background-color: #3d3d3d95;
}
